body {
    margin: 0;
}

img {
    width: 380px;
    height: 380px;
    padding: 10px;
    transition: all 0.4s;
}

img:hover {
    transform: scale(1.1);
}


h1 {
    font-family: fantasy, sans-serif;
    font-size: 3em;
    border-bottom: 2px solid gray;
    width: 800px;
    text-align: center;
    padding-right: 30px;
    box-shadow: 4px 4px 5px #888888;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}