img {
    width: 380px;
    height: 380px;
    padding: 10px;
}


h1 {
    font-family: fantasy, sans-serif;
    font-size: 3em;
    border-bottom: 2px solid gray;
    width: 800px;
    text-align: center;
    padding-right: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}